// 
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #F5F6FA;
  font-weight: 600;
}
a {
	color: #00A82D;
}

.text-primary {
	color: #00A82D;
}